<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('dashboard') }}" class="navbar-brand">My Dashboard</a>
            <ul class="navbar-menu">
                <li><a href="{{ url_for('movies.movies') }}">Movies</a></li>
                <li><a href="{{ url_for('theaters.theaters') }}">Theaters</a></li>
                <li><a href="{{ url_for('page3') }}">Page 3</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-content">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
